html {
    scroll-behavior: smooth;

}

:root {
     --bs-primary-rgb: 2, 37, 80; /* kék */
    --bs-secondary-rgb: 219, 43, 57; /* piros */
    --bs-success-rgb: 48, 107, 52; /* zöld */
    --bs-info-rgb: 35, 151, 248; /* világos kék */
    --bs-warning-rgb: 243, 167, 18; /* citromsárga */
    --bs-danger-rgb: 245, 93, 62; /* narancssárga */
    --bs-custom-rgb: 199, 209, 200; /* fehér */
}

a {

    text-decoration: none;
    color: rgb(199, 209, 200,);
}

.align-justify{
    text-align: justify;
}
.footer {
    color: white;
}

.footer:hover{
    color: chartreuse;
    text-decoration: none;
    transition: 0.3s;
}

#picture{
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.helloka{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#vid{
    width: 800px;
}

bru{
    margin-left: 1cm;
}

#behuzas{
    padding-left: 10px;
}

p{
    padding: 0 5px;
    bottom: 15px;
    
}
